
#calculatorCase {
  margin: auto;
  width: 200px;
  height: 330px;
  border: #cde5ec 4px solid;
  background: linear-gradient(to right,  #cde5ec,  white, #cde5ec);
  border-radius: 15px 15px 5px 5px;

}

#calculatorCase button {
  height: 40px;
  width: 40px;
  margin: 2.5px;
  border-radius: 10px;
  outline: none;
}

.calcScreen {
  border-radius: 10px;
  background-color: white;
  text-align: center;
  font-size: 1em;
  display: block;
  margin: auto;
  margin-top:0px;
  margin-bottom: 20px;
  height: 60px;
  width: 180px;
  position: relative;
}
#calcScreen1{
  font-size: 1.6em;
  padding-top: 12px;
}
#calcScreen2{
position: absolute;
background-color: #f4f4f4;
text-align: right;
font-size: 1em;
top: 10px;
width: 97.5%;
height: 21px;
padding: 2px;
border-radius: 2px 2px 5px 5px;
}

.symbolError {
  border: tomato 1.5px solid;
}
button#equals {
  width: 187px
}
