.mySections {
  display: flex;
  flex-direction: column;
}
/*.item {
  flex: 1;
  border: 1rem #47ff56 solid;
  background-color: #99ffa1;
}*/
.firstColumn {
  order:0;
  flex-grow: 1;
  border: 2px #47ff56 solid;
  background-color: #99ffa1;
  padding: 1rem;
}

.middleColumn {
  order: 2;
  border: 2px solid #47edbe;
  background-color: #a3f7df;
  padding: 1rem;
  flex-grow: 2;
}

.lastColumn {
  order: 3;
  border: 2px solid #11b9fc;
  background-color: #8cdeff;
  padding: 1rem;
  flex-grow: 1;
  text-overflow: ellipsis;
}

.item {
  margin: 0.6em;
}

.pictureColumn {
  order: 1;
  align-items: center;
  padding-top: 1em;
}

#theImage {
  border: #47edbe solid 2px;
  max-width: 90%;
  height: 10rem;
  width: 30rem;
  background-image: url("img/babySeal.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin:auto;

}



@media screen and (min-width: 600px) {
  .mySections {
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
  }

  #theImage {
    background-image: url("img/sealNose.jpg");
    max-width: 20rem;
  }
}

@media screen and (min-width: 900px) {
  #theImage {
    width: 100%;
    
  }
}
