.myMenu {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #e9b7f7;
}

.item {
  border: black solid 2px;
  text-align: center;
  padding: 1rem;
  background-color: #e9b7f7;
  text-decoration: none;
  color: #800dad;
  }


@media screen and (min-width: 400px) {

  .myMenu {
    flex-direction: row;
    border: black 2px solid;
    justify-content: space-around;
    padding: 1rem;
  }

  .item {
    border: 0;
  }

}

@media screen and (min-width: 900px) {
  nav {
    font-size: 1.5rem;
  }
}
