
*{
    text-decoration: none;
    color: black;
}

html {
padding: 0;
margin: auto;
}

/**********************Main Features**********************/
body {
  background-color: #f9feff;
  height: 100vh;
  width: 90%;
  margin: auto;
  text-align: center;
}

nav a {
  margin: 1px;
}

.myNav {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.navItem {
  background-color: #cee8ed;
  color: black;
  padding: 5px;
  font-size: 1.2em;
}




/**********************Containers**********************/

.svgContainer {
  border-radius: 5%;
  border: 2px solid;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  margin: 10px 0px;
}

.orangeSvgContainer {
  background-color:#fffded;
  border-color: #fcf6c7;
}

.blueSvgContainer {
  background-color: #eff5f7;
  border-color: #baf3ff;
}

.greenSvgContainer {
  background-color: #e8ffea;
  border-color: #bfffc4;
}

.aboutContainer{
  display: flex;
}

/**********************Images**********************/

#profileImage {
  height: 200px;
  width:200px;
  border-radius: 50%;
  margin: auto;
}

.svgImage {
  height: 200px;
  width: 200px;
  margin: auto;
  padding: 0;
}

/**********************Media Queries**********************/

@media screen and (min-width: 480px) {
  .myNav {
    flex-direction: row;
  }
  .navItem {
    flex-grow: 3;
  }
}
