body {
  background: hsla(203, 45%, 95%, 1);
}


main {
  font-family: 'Anaheim', sans-serif;
  width: 90%;
  height: 100%;
  margin: auto;
  padding: 10px;
  text-decoration: none;
  list-style: none;
  font-size: 1.1em;
  overflow: hidden;
  background-color: hsl(200, 58%, 85%);
}



#details input[type="text"], input[type="email"], input[type="number"] {
  display: block;
  width: 60%;
  margin: auto;
  margin-top: 15px;
  border: grey 1px solid;
  padding: 10px;
}

h1, #description {
  text-align: center;
}

p {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 2px solid black;
}

#dropdown {
  height: 50px;
  width: 120px;
  font-size: 0.9em;
  text-align: center;
  margin-left: 30%;
}

#radio-choices, #ingred-checkboxes{
  width: 100%;
  padding: 10px 0px;
}
#ingred-checkboxes{
  margin-left: 30%;
}

textarea#textarea {
  width: 80%;
  height: 150px;
  margin-left: 7%;
  border: grey 1px solid;
}

button {
  width: 200px;
  height: 40px;
  font-size: 1em;
  border-radius: 5px;
  margin: 10px 0px 0px calc(9%);
}
.error {
  border: tomato solid 2px;
}
.complete {
  border: green solid 2px;
}


@media only screen and (min-width: 400px) {
    button {
        margin-left: calc(20%);
    }
    #ingred-checkboxes{
      margin-left: 39%;
    }
    #radio-choices {
      margin-left: 10%;
    }
}
@media only screen and (min-width: 700px) {
  main {
    font-size: 1.3em;
    width: 80%;
    margin: auto;
  }
    button {
        margin-left: calc(35%);
    }
    #radio-choices {
      margin-left: 25%;
    }
    #ingred-checkboxes{
      margin-left: 45%;
    }
    textarea#textarea {
      width: 80%;
      margin-left: 10%;
    }
    #dropdown {
        margin-left: 40%;
    }
}
@media only screen and (min-width: 1000px) {
  main{
    width: 70%;
  }
  #ingred-checkboxes{
    margin-left: 42%;
  }
}
@media only screen and (min-width: 1300px) {
  main{
    width: 50%;
  }

}
