/*

font-family: 'Acme', sans-serif;
*/

/***********************General********************************/
html {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  background-color: rgb(231, 255, 249);
}

body {
  padding: 0;
  margin: auto;
}

/**************************Header*****************************/

#headerSection {
   height: 100px ;

   display:table;
   width:100%;
}

#logo {
  width: 100px;
  height: 100px;
  background: url("../img/logo.svg");
}

#headerSection h1 {
  display: table-cell;
  vertical-align:middle;
}

/**************************Nav bar*****************************/

ul {
  max-width: 100%;
  list-style: none;
  display: flex;
  flex-direction: row;
  border: black solid 1px;
  padding-top: 5px;
  padding-bottom:5px;
  justify-content: space-around;
  margin: auto;
}

ul a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

#navBar li {
    margin-left:;
    padding: 2px;
    align-items: center;
}

nav {
  margin-bottom: 30px;
}


/***********************MainBody********************************/

#mainBody {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.decDiv {
  height: 150px;
  width: calc(50%);
  background: green;
}

 div #decDiv1 {
  /*background: rgb(51, 93, 218);*/
  background: url("../img/studybud4.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

 div #decDiv2 {
  /*background: rgb(78, 190, 26);*/
  background: url("../img/studybud2.jpg");
  opacity: 0.75;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

div #decDiv3 {
  /*background: rgb(157, 27, 237);*/
  background: url("../img/studybud1.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.section {
  height: 150px;
  width:  calc(50%);
  background:#7dffbc;
  -moz-box-shadow:    inset 0 0 15px #00801a;
   -webkit-box-shadow: inset 0 0 15px #00801a;
   box-shadow:         inset 0 0 15px #00801a;
}

#section1 {

}

#section2 {

}

#section3 {

}

.section a {
  text-decoration: none;
  color: #025313;
  border-bottom: solid 1.5px #025313;
  font-weight: bold;
}

#mainBody {
  text-align: left;
  color: rgb(40, 40, 40);

}

#mainBody h2 {
  font-size: 1.1em;
  margin-bottom: -3px;
  text-align: center;
  color: black;
}

#mainBody p {
  font-size: 0.9em;
  padding-left: 2px;
}


footer {
  position: sticky;
  text-align: center;
  font-size: 0.5em;
  margin-top: 40px;
}


/***************************Contact Page*********************************/

#contactContainer {
  padding-left: 40px;
}

.wayToContact {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

/***************************About Page*********************************/

#aboutContainer {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/***************************Connect Page*********************************/

.userBox {
  height: 200px;
  width: 300px;
  background-color: #3bf796;
  margin: auto;
  border-radius: 10px;
  padding-top: 10px;
  border: #00801a solid 2px;
  margin-bottom: 10px;
}

.userBox img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
  border: #00801a solid 1px;
}

.userBox h4 p {
  position: relative;
  display: inline-block;
  font-size: 1em;
}






.
