/*

font-family: 'Acme', sans-serif;
*/

/***********************General********************************/
html {
  padding: 0;
  margin: 0;
  text-decoration: none;
  font-family: 'Acme', sans-serif;
  background-color: rgb(231, 255, 249);
}

body {
  padding: 0;
  margin: auto;
}

/**************************Header*****************************/

#headerSection {
   height: 100px ;

   display:table;
   width:100%;
}

#logo {
  width: 100px;
  height: 100px;
  background: url("../img/logo.svg");
}

#headerSection h1 {
  display: table-cell;
  vertical-align:middle;
}

/**************************Nav bar*****************************/

ul {
  max-width: 100%;
  list-style: none;
  font-size: 1em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: black solid 1px;
  padding: 5px 30px;
  justify-content: space-around;
  margin: auto;
  border-bottom: 3px solid black;
}

 .openTab {
   height: 90px;
}
  .closedTab {
    height: 1.3em;
    overflow: hidden;
  }



 ul .mainNavOption {
   padding:
}

 ul .subNavOption {
  justify-content: center;
  padding: 5px 80px;

}

ul a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

#navBar li {
    margin-left:;
    padding: 2px;
    align-items: center;
}


nav {
  margin-bottom: 30px;
  text-align: center;
}

 #navButton {
  display: inline-block;
  margin: auto;
  padding: 5px 25px;
  border-radius:  0 0 5px 5px;
  background-color: black;
  border: 1px outset black;
  outline: none;
  color: white;
  font-weight:  bold;
  font-size: 1em;
}

/***********************MainBody********************************/

#mainBody {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.decDiv {
  height: 150px;
  width: calc(50%);
  background: green;
}

 div #decDiv1 {
  /*background: rgb(51, 93, 218);*/
  background: url("../img/studybud4.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

 div #decDiv2 {
  /*background: rgb(78, 190, 26);*/
  background: url("../img/studybud2.jpg");
  opacity: 0.75;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}

div #decDiv3 {
  /*background: rgb(157, 27, 237);*/
  background: url("../img/studybud1.jpg");
  opacity: 0.85;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0;
  margin: 0;
}
.section {
  height: 150px;
  width:  calc(50%);
  background:#7dffbc;
  -moz-box-shadow:    inset 0 0 15px #00801a;
   -webkit-box-shadow: inset 0 0 15px #00801a;
   box-shadow:         inset 0 0 15px #00801a;
}

#section1 {

}

#section2 {

}

#section3 {

}

.section a {
  text-decoration: none;
  color: #025313;
  border-bottom: solid 1.5px #025313;
  font-weight: bold;
}

#mainBody {
  text-align: left;
  color: rgb(40, 40, 40);

}

#mainBody h2 {
  font-size: 1.1em;
  margin-bottom: -3px;
  text-align: center;
  color: black;
}

#mainBody p {
  font-size: 0.9em;
  padding-left: 2px;
}

.section p {
  margin: 15px;
}

.section h2 {
  margin: 10px;
}



footer {
  position: fixed;
  top: 90vh;
  left:45vw;
  font-size: 0.5em;
  margin-top: 40px;
}

#mainRightButton {
  display: none;
}

#mainLeftButton {
  display: none;
}


/***************************Contact Page*********************************/

#contactContainer {
  padding-left: 40px;
}

.wayToContact {
  display: flex;
  flex-direction: row;
  margin-top: 15%;
}

/***************************About Page*********************************/

#aboutContainer {
  margin-left: 20px;
  margin-right: 20px;
  text-align: center;
}

/***************************Connect Page*********************************/

.userBox {
  height: 200px;
  width: 300px;
  background-color: #3bf796;
  margin: auto;
  border-radius: 10px;
  padding-top: 10px;
  border: #00801a solid 2px;
  margin-bottom: 10px;
}

.userBox img {
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
  border-radius: 50%;
  float: left;
  border: #00801a solid 1px;

}

.userBox h4 p {
  position: relative;
  display: inline-block;
  font-size: 1em;
}

/***********************Profile Page********************************/

.userProfile {
  height: 200px;
  width: 200px;
  background-color: #3bf796;
  margin: auto;
  border-radius: 10px;
  border: #00801a solid 2px;
  text-align: center;
  margin-top: 25px;
}

.userProfile img {
  position: relative;
  height: 150px;
  weight: 150px;

}

/***********************Media Queries********************************/
@media screen and (min-width: 600px) and (orientation: landscape) {
    ul .subNavOption {
     padding: 0;
   }

   ul {
     padding: 20 60px;
   }

   #navButton {
     display: none;
   }

  #connectContainer {
    display: flex;
    flex-wrap: wrap;
   }

   .wayToContact {
     margin-top: 1em;
   }

   .wayToContact img {
     margin-right: 1em;
   }

   .wayToContact p {
     margin-top: 1.5em;
   }

}


@media screen and (min-width: 600px) {

  .decDiv {
    display: none;
  }

  .section {
    height: 300px;
    width: 400px;
    position: absolute;
    border-radius: 10px;
  }

  #mainBody {
    height: 100%;
    width: 100%;
  }

  #section1 {
    background: url("../img/big_study3.jpeg");
    background-size: cover;
    opacity: 1;
  }

  #section2 {
    background: url("../img/big_study1.jpeg");
    opacity:1;
    background-size: cover;
    z-index: 40;
  }

  #section3 {
    background: url("../img/big_study2.jpeg");
    opacity: 1;
      background-size: cover;
  }

  #mainBody h2 {
    font-size:  2em;
    color: rgb(224, 221, 221);
    background-color:  rgba(255, 255, 255, 0.57);
    border-radius: 10px;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
  }

  #mainBody p {
    background-color: rgba(255, 255, 255, 0.57);
    padding: 20px;
    margin-top: 120px;
    font-size: 1em;
    border-radius: 10px;
  }

  .mainButton {
    padding: 10px 13px;
    border-radius: 50%;
    color: #e4e4e4;
    background-color: #00801a;
    border: outset 2px #003e0d;
  }

  #mainLeftButton {
    display: inline-block ;
    position: relative;
    left: -16.5em;
    top: 9em;
    z-index: 100;
  }
  #mainRightButton {
    display: inline-block ;
    position: relative;
    left: 16.5em;
    top: 9em;
    z-index: 100;
  }
  #headerSection h1 {
    margin: auto;
    padding-left: 6em;
  }
}

.mainNavOption , .subNavOption {
  padding: 10px;
}
