body{
  background-image: url("img/sand.jpg");
}

svg .myBoat {
  fill: green;
}
html{
  text-align: center;
}
/********************* Form section *********************/
#formSection{
  margin: auto;
  background-color:rgba(255, 210, 125, 0.66);
  border: 2px solid white;
  max-width: calc(80%);
  padding: 20px;
  display: flex;
  justify-content: center;
  border-radius: 25px;
  margin: auto;
}

#myForm{
  position: relative;
}

#myForm select {
  margin-top: 10px;
}

#myForm input {
  margin-top: 10px;
}

#innerContainerBox {
  display: flex;
 flex-direction: column-reverse;
}

.noSetSail {
  color: red;
}

#boatImageSection {
  position: absolute;
  top: calc(60%);
  left: calc(19%);
  background-image: url("img/sand.jpg");
r
}

#rowBoatImage,
#sailBoatImage,
#shipBoatImage {
  position: absolute;
  top: calc(60%);
  left: calc(19%);
}

#rowBoatImage{
    z-index: -10;
  background-image: url("img/sand.jpg");

}

#sailBoatImage {
  z-index: -10;
  background-image: url("img/sand.jpg");

}

#shipBoatImage{
  z-index: -10;
background-image: url("img/sand.jpg");

}



@media screen and (min-width: 360px) and (max-width: 420px){


  #boatImageSection {
    position: absolute;
    top: calc(55%);
    left: calc(24%);
    background-color: white;
  }

  #rowBoatImage,
  #sailBoatImage,
  #shipBoatImage {
    position: absolute;
    top: calc(55%);
    left: calc(24%);
  }
}

@media screen and (min-width: 421px) and (max-width: 500px){
  #boatImageSection {
    position: absolute;
    top: calc(65%);
    left: calc(28%);
    background-color: white;
  }

  #rowBoatImage,
  #sailBoatImage,
  #shipBoatImage {
    position: absolute;
    top: calc(65%);
    left: calc(28%);
  }
}

@media screen and (min-width: 501px) and (max-width: 700px) and (orientation: landscape) {
  #boatImageSection {
    position: absolute;
    top: calc(20%);
    left: calc(60%);
    background-color: white;
  }

  #rowBoatImage,
  #sailBoatImage,
  #shipBoatImage {
    position: absolute;
    top: calc(20%);
    left: calc(60%);
  }

  #formSection{
    position: absolute;
    top: calc(24%);
    left: calc(2%);
    border-radius: 40%;
  }
}
