body {
  font-family: 'Yantramanav', sans-serif;
  margin: none;
  padding: none;
  background: black;
}
.bio {
  background-image: url('https://github.com/ShinyVerse/projects/blob/master/codepenImg/DS/myPage/kb_bg2.jpg?raw=true');
  background-size: cover;
  font-size: 1.2em;
  color: white;
  margin: 10px auto;
  text-align: center;
  padding: 10px 4em;
  text-shadow: 0 0 13px black, 0 0 15px black;
}
.main--title {
  color: white;
  text-align: center;
  border-bottom: 2px solid rgba(1, 255, 232);
  width: 120px;
  margin: 25px auto;
}

.secondary--title {
  font-size: 1em;
  font-weight: bold;
}

.skill--language {
  width: 85px;
  height: 85px;
  margin: 10px;
}
.skill__container {
  width: 95%;
  margin: 10px auto;
  background: black;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.project--img {
  width: 280px;
  height: 200px;
}

.project__box {
  background: white;
  width: 280px;
  height: 220px;
  margin: 15px auto;
  list-style: none;
  padding: 10px;
  box-shadow:  0 1px 2px 0 rgba(1, 255, 232);
}

.project__container {
  padding: 0;
}

p {
  text-align: center;
  color: white;
}
