*{
  background: blue;
}

h1 {
  font-size: 72px;
  text-align: center;
}

.pictureSetUp {
  width: 400px;
  height: 400px;
  margin: 0% 5% 0% 6.5%;
  padding-left: : 30%;
  display: inline;
  border: black solid 4px;
}
