svg .myBoat {
  fill: green;
}
html{
  text-align: center;
}

#myForm{
  position: relative;
}

.noSetSail {
  color: red;
}

#boatImageSection {
  position: absolute;
  top: calc(50%);
  left: calc(18%);
  background-color: white;
}

#rowBoatImage,
#sailBoatImage,
#shipBoatImage {
  position: absolute;
  top: calc(50%);
  left: calc(18%);
}

#rowBoatImage{
    z-index: -10;
    background-color: white;
}

#sailBoatImage {
  z-index: -10;
  background-color: white;
}

#shipBoatImage{
  z-index: -10;
  background-color: white;
}
