* {
  list-style: none;
  text-decoration: none;
  font-family: 'Catamaran', sans-serif;
}

html {
  background: white;
}
body {
  background: hsla(96, 96%, 23%, 0.25);
}


main {
  width: 100%;
  height: 100%;
  font-size: 1.4em;
  text-align: center;
  padding-top: 50px;
}

.logo {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0px 0px 5px 0px;
  border-bottom: 2px black solid;
  color: #c94716;
}

#header-img {
  width: 50px;
  height: 50px;
  background-color: orange;
  border-radius: 50%;
}
nav {
  width:100%;
  height: 8.5%;
  position: fixed;
  top: 0;
  left:0;
  background: white;
}
ul {
  padding: 0px;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

nav li {
  line-height: 1.1em;
  font-size: 0.8em;
  width: 80%;
  list-style: none;
  text-align: center;
  border-bottom: 2px  hsla(309, 100%, 87%, 1) solid;
}
p {
  padding: 10px;
  margin: 0px;
  line-height: 1.2em;
}
 #nav-bar li {
   width: 32%;
   justify-content: center;
 }
a {
    text-decoration: none;
    color: black;
}
 h1 {
   margin: 5px 0px 5px 0px;
   font-size: 1.2em;
   text-decoration: underline;
   text-decoration-color: hsla(329, 100%, 50%, 1);
 }
 #about-us {
   font-size: 0.8em;
 }
 #animal-section img {
   width: 200px;
   height: 150px;
   border: hsla(309, 100%, 87%, 1) 2px solid;
 }
.animal-img{
 padding: 0px;
 font-size: 0.8em;
 width: 75%;
 margin: auto;
 margin-bottom: 10px;
 margin-top: 0px;
}

#video {
  width: 90%;
  height: 75%;
  margin: auto;
}

#subscribe-section{
  margin: auto;
  width: 100%;
  height: 70px;
}

#email {
  height: 26px;
}
#submit {

  font-size: 0.75em;
  width: 30%;
  margin-left: -10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius:10px;
  background: hsla(329, 100%, 40%, 1);
}

@media only screen and (min-width: 500px) {
    body {
        width: 80%;
        margin: auto;
    }
    #video {
      width: 400px;
      height: 250px;
    }
}
